* {
      box-sizing: border-box;		
	}
		
.container {	
	position:relative;
    width: 90%;
    margin: 0 auto;
    overflow:hidden;
	}


ul { padding:0 } 

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #000000;
	background-color: #fff;
}

a {text-decoration: none;}
a:link {color: #7988DB;}
a:visited {color: #7988DB;}
a:hover {color: #7988DB;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;        
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	
	border-bottom: 2px solid;
	padding-bottom: 1px;

}

button {
    border-color: rgba(256,256,256, 0);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #000000;
  background-color: #000000;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  width: 100%; /* 100% width */
  text-align: left; /* Left align */
  top: 50%;
  margin-left: 3rem;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  font-family: 'Playfair Display';
  font-size: 85px;
  color: #ffffff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #7988DB;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  top: 20px;
  right: 45px;
  font-size: 60px;
  float: right;
  margin-right: 6rem;
  margin-top: 2rem;
}


/* interior header */

h1 {
	padding-top: 2rem;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

p {
	text-align: center;
	line-height: 1.5;
	margin-right: 2rem;
}

header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: 1rem;
}


/* logo */

.logo {
	float: left;
	width: 3rem;
}

.logo a:hover {
	border-bottom: 0px;
}


/* menu */
.menu {
  display: inline-block;
  cursor: pointer;
  float: right;
  z-index: 9999;
}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 2px;
  background-color: #333;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px) ;
  transform: rotate(-45deg) translate(-7px, 7px) ;
  background-color: #fff;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-7px, -7px) ;
  background-color: #fff;
}



/* about */

.interior-content {
	margin-top: 1rem;
	margin-bottom: 2rem;

}

.interior-header {
	margin: 3rem;
}

.introduction {
	font-size: 42px;
	margin-right: 25rem;
	line-height: 1.25;
	font-family: 'Playfair Display', serif;
	text-align: left;
	margin-top: 18rem;
}

/* contact */

.contact {
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.button {
  background-color: #ffffff;
  border: none;
  color: #7988DB;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  border: 2px solid #7988DB; 
  cursor: pointer;
}

.button:hover {
	background-color: #7988DB;
	color: #ffffff;
}

.contact a:hover {
	border-bottom: 0px;
}


/* social media */

.social-media	{
	float: left;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.social-media li {
	display: inline-block;
	padding-right: 1em;
}

.social-media a 	{
	text-decoration: none;
}

.social-media a:link	{
	color: #000;
}

.social-media a:visited	{
	color: #000;
}

.social-media a:hover	{
	color: #9A99FC;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	border-bottom: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 16px;
}

.column img {
  margin-top: 32px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 1280px) {

	.introduction {
		margin-right: 1rem;
	}	

	.header{
		margin-left: 0;
		margin-right: 0;
	}

	p {
	text-align: center;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	}

	  .column {
    flex: 32%;
    max-width: 32%;
  }

}


@media screen and (max-width:800px) {
	  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width:550px) {
	
	.introduction {
		font-size: 24px;
		line-height: 1.5;

	}

	.introduction {
		margin-top: 10rem;
	}

	p {
	text-align: center;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

	  .column {
    flex: 100%;
    max-width: 100%;
  }

  .interior-header {
	margin: 1rem;
}
 

  .row {
  	padding: 0;
  }

}
