* {
      box-sizing: border-box;		
	}
		
.container {	
	position:relative;
    width: 90%;
    margin: 0 auto;
    overflow:hidden;
	}


ul { padding:0 } 

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #000000;
	background-color: #fff;
}

a {text-decoration: none;}
a:link {color: #7988DB;}
a:visited {color: #7988DB;}
a:hover {color: #7988DB;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;        
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	
	border-bottom: 2px solid;
	padding-bottom: 1px;

}


/* interior header */

h1 {
	padding-top: 4rem;
	margin-left: 5rem;
	margin-right: 5rem;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

p {
	text-align: center;
}

header {
	padding-top: 1rem;
	padding-bottom: 2rem;
	margin: 1rem;
}


/* logo */

.logo {
	float: left;
	width: 3rem;
}

.logo a:hover {
	border-bottom: 0px;
}


/* menu */
.menu {
  display: inline-block;
  cursor: pointer;
  float: right;

}

.bar1, .bar2, .bar3 {
  width: 40px;
  height: 2px;
  background-color: #333;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px) ;
  transform: rotate(-45deg) translate(-7px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-7px, -7px) ;
}



/* about */

.interior-content {
	margin-left: 1rem;

}

.introduction {
	font-size: 42px;
	margin-right: 25rem;
	line-height: 1.25;
	font-family: 'Playfair Display', serif;
	text-align: left;
	margin-top: 18rem;
}

/* contact */

.contact {
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.button {
  background-color: #ffffff;
  border: none;
  color: #7988DB;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  border: 2px solid #7988DB; 
  cursor: pointer;
}

.button:hover {
	background-color: #7988DB;
	color: #ffffff;
}

.contact a:hover {
	border-bottom: 0px;
}


/* social media */

.social-media	{
	float: left;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.social-media li {
	display: inline-block;
	padding-right: 1em;
}

.social-media a 	{
	text-decoration: none;
}

.social-media a:link	{
	color: #000;
}

.social-media a:visited	{
	color: #000;
}

.social-media a:hover	{
	color: #9A99FC;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	border-bottom: 0px;
}

@media screen and (max-width: 1280px) {

	.introduction {
		margin-right: 1rem;
	}	

	.header{
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width:550px) {
	
	.introduction {
		font-size: 24px;
		line-height: 1.5;

	}

	.interior-content {
		margin-left: 1rem;
	}

	.introduction {
		margin-top: 10rem;
	}

}
