*	{
	box-sizing: border-box;
}

.clearfix:after	{
	content: "";
	display: block;
	clear: both;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	color: #000;
	background-color: #fff;
}

a {text-decoration: none;}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #9A99FC;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;        
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	
	border-bottom: 2px solid;
	padding-bottom: 3px;

} 


/* border */
		
#right {
    right: 0px;

}
#left {
    left: 0px;
}

#top {
    top: 0px;
}
#bottom {
    bottom: 0px;
}

#left, #right {
    top: 0px;
    bottom: 0px;
    width: 5px;
    z-index:9999;
}

#top, #bottom {
    left: 0px;
    right: 0px;
    height: 5px;
    z-index:9999;
}
#top, #bottom, #left, #right {
    background: #000;
    position: fixed;
}


/* header */
	
.masthead{
	max-width: 80em;
	width: 90%;
	margin: 0 auto;
	position: fixed;
	z-index: 100;		
	background-color: #fff;
	padding-top: 20px;
}
		
.brand {
	float: left;
	width: 50%;
	display: inline;
	font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: .1em;
	z-index: 3;
}

.brand img {
	width: 120px;
}
		
.brand a:hover {
	border-bottom: none;
}
	
.nav {
	width: 50%;
	float: right;
	position: relative;
}	

.nav li {
	display: inline;
}
		
.nav li {
	padding-right: 30px;
}
		
.nav li:last-child {
	padding-right: 0;
}
			
.site-nav {	
	text-align: right;
	font-size: 10pt;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 1px;
	padding: 0;
		
}

/* welcome */

.welcome {
	font-family: 'Open Sans', sans-serif;
	font-size: 50pt;
	font-weight: 800;
	height: 800px;
	padding-top: 2em;
}

/* interior content */

.interior-content {
	width: 100%;
	margin-top: 6em;
	text-align: center;
}

.interior-content img {
	max-width: 100%;
	margin-top: 1em;
}

.greeting {
	color: #000;
	font-size: 20pt;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.info {
	font-family: 'Open Sans', Sans-serif;
	text-align: center;
	font-size: 10pt;
	line-height: 2em;
	margin-left: auto;
	margin-right: auto;
}

.info a 	{
	text-decoration: none;
	color: #9A99FC
	font-weight:700;
}

.info a:link	{
	color: #9A99FC;
}

.info a:visited	{
	color: #9A99FC;
}

.info a:hover	{
	color: #9A99FC;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.download-resume {
	background: #fff;
	padding: 1em;
	text-decoration: none;
	color: #000;
	font-weight: 700;
	font-size: 1em;
}

.download {
	margin-bottom: 5em;
}

.cta {
	padding-top: 2em;
	padding-bottom: 1em;
	height: 100%;
	font-family: 'Open Sans', Sans-serif;
	font-weight: 700;
	text-align: center;
}

.bio {
	padding-top: 1em;
}

/* project pages */

.purple-divider {
	background: #9A99FC;
	height: 4px;
	width: 40px;
	margin-top: -1em;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 1em;
}


/* project images */

.project-images {
	padding-bottom: 50px;
}

/* footer */

.copyright	{
	font-size: .5em;
	float: left;
	padding-top: 4em;
}

.social-media	{
	float: right;
	margin-bottom: 2em;
}

.social-media li {
	display: inline-block;
	padding-left: 2em;
}

.social-media a 	{
	text-decoration: none;
}

.social-media a:link	{
	color: #000;
}

.social-media a:visited	{
	color: #000;
}

.social-media a:hover	{
	color: #9A99FC;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.mobile-toggle {
	display: none;
}


@keyframes blinkBackground {
  0%, 45%, 55%, 65%, 100% {
    background: none;
  }

  50%, 60% {
    background: #ddd;
  }
}



@media screen and (max-width: 40em){
	body {
		font-size: 15pt;
		line-height: 1.5;
	}
		}
		
@media screen and (orientation: portrait) {
  img { 
  	max-width: 100%;
  		width: auto;
  		height: auto; }
}

@media screen and (orientation: landscape) {
  img { max-height: 100%;
  		width: auto;
  		height: auto; }
  
}

		
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;		
	        }
		
.container {	
	position:relative;
    max-width: 80em;
    width: 90%;
    margin:0 auto;
    overflow:hidden;
	
	}





@media screen and (max-width:40em){
	
	.activemenu {
		overflow: hidden;
	}
	
	.mobile-toggle {
		display: block;
		position: relative;
		z-index: 101;
		
		float: right;
		margin: 0 auto;
		margin-top: 15px;
	
	}
	
	.activemenu .masthead {
		/* overflow: auto; */
	}
	
	.mobile-takeover {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,.9);
		z-index: 100;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: opacity 0 ease-out;
		opacity: 0;
		
	}
	
	
	.activemenu .mobile-takeover {
		
		opacity: 1;
		transition-duration: .3s;
		max-height: 1000%;
		height: 100%;
	}
	
	.activemenu .site-nav {
		float: none;
		margin: 0 auto;
		
	}
	
	.activemenu .site-nav li {
		display: block;
		text-align: center;
		margin: 0 auto;
		padding-top: 25px;
		
		padding-right: 0;
		font-size: 23pt;
		
		top: 50%;
	}
	.activemenu .site-nav li:first-child {
		margin-top: 50vw;
	}
	
	button {
		background: transparent;
	    border: none !important;
	    font-size:0;
	}
	
	#nav-toggle { 
	  	padding: 15px 35px 16px 0px; }
	#nav-toggle span, 
	#nav-toggle span:before, 
	#nav-toggle span:after {
	  	height: 4px;
	  	width: 30px;
	  	background: black;
	  	position: absolute;
	  	display: block;
	  	content: '';
	}
	#nav-toggle span:before {
	  	top: -8px; 
	}
	#nav-toggle span:after {
	  	bottom: -8px;
	}
	
	#nav-toggle span, 
	#nav-toggle span:before, 
	#nav-toggle span:after {
	  	transition: all 500ms ease-in-out;
	}
	#nav-toggle.active span {
	  	background-color: transparent;
	}
	#nav-toggle.active span:before, #nav-toggle.active span:after {
	  	top: 0;
	}
	#nav-toggle.active span:before {
	  	transform: rotate(45deg);
	}
	#nav-toggle.active span:after {
	  	transform: rotate(-45deg);
	}
	
	
#mobile-toggle a {text-decoration: none;}
#mobile-toggle a:link {color: rgb(242, 242, 242);}
#mobile-toggle a:visited {color: rgb(242, 242, 242);}
#mobile-toggle a:hover {color: rgb(242, 242, 242);} 


	.slide .caption {
    margin:0 auto;
	text-align:center;
    
    display:inline-block;
    position:relative;
    
    z-index:2;
    
	}
	
	.slides .caption .title {
		font-family: 'Open Sans', sans-serif;
	    font-size:15pt;
	    font-weight:700; 
	}
	
	.slides .caption .title a:hover {
	    text-decoration: none;
	}
}

/* cover */
	
.cover {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: rgb(242, 242, 242);
  height: 100vh;
  
}

.cover-inside {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  
}

.text {
	text-align: center;
}


/* content */

.circle {
	width:4px;
    height:4px;
    
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    
    background: black;
    margin: 50px auto 0;
    
    text-align: center;
    
}

.content {
	max-width: 80em;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.arrow-down {
	text-align: center;
	margin: 0 auto;
	font-size: 20pt;
	padding-top: 150px;
}

.arrow {
	margin-top: 30px;
}



/* description */

.description {
	margin: 45px auto;
	max-width: 900px;
	width: 100%;
	text-align: center;
}

header {
	text-align: center;
}


header em, .who {
	display: block;
	margin-bottom: 5px;
	
	font-family: 'Neuzeit Office Regular','Karla', monospace, sans-serif;
	font-size: 10px;
	color: #aaa;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}



.content .project-text {
	font-size: 12pt;
	line-height: 20pt;
}

.content .tag {
	font-size: 8pt;
}

/* credit */
.credit {
	margin: 30px auto;
}

.credit p {
	font-family: 'Neuzeit Office Regular','Karla', sans-serif;
	font-size: 9pt;
	
}

.credit-line{
	width: 15px;
	height: 1px;
	
	color: rgba(195,195,195,0.41);
	margin: 0 auto;
}

/* nextpre */

.nextpre {
	margin: 25px auto;
	font-size: 15pt;
}

.nextpre a:hover {
	border-bottom: none;
	text-decoration: none;
}

.alignleft {
	right: 30%;
	
	float: left;
}

.alignright {
	left: 30%;
	
	float: right;
}


/* gallery */

.gallery {
	margin-top: 6em;
	text-align: center;
}

.gallery h1:hover {
    transition:all .3s ease;
}

.gallery h1:hover {
    color:rgba(93,230,240,1);
    border:3px rgba(93,230,240,1) solid;
    -webkit-box-shadow:4px 4px 0 0 rgba(93,230,240,1);
    -moz-box-shadow:4px 4px 0 0 rgba(93,230,240,1);
    box-shadow:4px 4px 0 0 rgba(93,230,240,1);
}

.gallery .slides {
    text-align:justify;
    padding:0;
    margin:0;
    width:100%;
    list-style:none;
}

.gallery .slides:after {
    content:'';
    display:inline-block;
    width:100%;
}

.gallery .slide {
    margin:0 auto 20px;
    display:inline-block;
}

.slide,.slide img {
    position:relative;
}

.slide img {
    z-index:1;
    display:block;
    max-width:100%;
}

.slide:before,.slide .caption {
    content:'';
    opacity:0;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    width:100%;
    height:100%;
}

.slide:before {
    background-color:rgba(255,255,255,.9);
}

.slide .caption {
    opacity:0;
    position:absolute;
    top:50%;
    left:0;
    z-index:2;
    height:50%;
    margin:0;
    text-align:center;
    
}

.slide:hover:before,.slide:hover .caption {
    opacity:1;
    color:#000;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease;
}


.slides .caption .title a:hover {
    text-decoration: underline #000;

}

.slide.placeholder {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	height: 0;
}


/* embed */

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	
	max-width: 1000px; 
	margin: 0 auto;
} 

.embed-container iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

/* work */

.inside .image {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}




/* media queries */


@media screen and (max-width:600px) {


.content h1 {
	
	font-size: 20pt;
	
}

.content .project-text {
	font-size: 10pt;
	line-height: 17pt;
}


.copyright {
		margin: 0 auto;
		text-align: center;
		float: none;
		padding: 5em;
	}
.social-media {
		float: none;
		text-align: center;
		margin: 0 auto;
		padding-right: 5em;
	}

}


		
@media screen and (max-width: 700px) {
	.fix {
		display: none;
}

	.text-2 .one {
	
	font-size: 20pt;
	line-height: 35pt;
	letter-spacing: -0.5pt;
	
}
}
	

@media screen and (min-width: 400px) {

article {
    width:100%;
}
}

@media screen and (min-width:600px) {
.slide {
    text-decoration:none;
    display:inline-block;
    list-style:none;
    vertical-align:top;
    width:48%;
}


}

@media screen and (min-width: 800px) {

.slide {
    width:32%;
}


}

@media screen and (min-width: 1000px) {

.slide {
    width:32%;
}
}



